@model WebApplication2.Models.Employee

<h2>Czy na pewno chcesz usunąć tego pracownika?</h2>

<h3>@Model.FirstName @Model.LastName</h3>

<form asp-action="DeleteConfirmed">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Usuń" class="btn btn-danger" /> |
    <a asp-action="Index">Anuluj i wróć do listy pracowników</a>
</form>

